.row.space
  .hero-unit.logo
    %p
      = image_tag 'ri-logo.png', alt: 'RailsInstaller logo'
    %h1.tagline= t '.get_to_work'
.row.space
  .col-md-6
    %h2= t '.what'
    %p= t '.what_description'
  .col-md-6
    %h2= t '.who'
    %p= t '.who_description'
.row.space
  .col-md-8.col-md-offset-2.video_container
    %iframe.img-polaroid{ src: 'http://www.youtube.com/embed/InKZOPylUSQ', frameborder: '0', allowfullscreen: true }
.row
  .col-md-12
    .row
      .col-md-12.alert.alert-error= t '.osx_warning'
    .row
      .col-md-6
        %h2= t '.win_downloads'
      .col-md-6
        %h2= t '.mac_downloads'
    .row
      = partial 'download_btn',
        locals: { down_link: 'https://s3.amazonaws.com/railsinstaller/Windows/railsinstaller-3.0.0.exe',
                  platform: 'win',
                  down_version: 'ruby_20' }
      = partial 'download_btn',
        locals: { down_link: 'https://s3.amazonaws.com/railsinstaller/Windows/railsinstaller-3.1.1.exe',
                  platform: 'win',
                  down_version: 'ruby_21' }
      = partial 'download_btn',
        locals: { down_link: 'https://s3.amazonaws.com/railsinstaller/OSX/RailsInstaller-1.0.4-osx-10.7.app.tgz',
                  platform: 'mac',
                  down_version: 'mac_ver_new' }
      = partial 'download_btn',
        locals: { down_link: 'https://s3.amazonaws.com/railsinstaller/OSX/RailsInstaller-1.0.4-osx-10.6.app.tgz',
                  platform: 'mac',
                  down_version: 'mac_ver_old' }
      .row
        .col-md-3
          .packages
            %small= t '.packages_included'
            %ul.unstyled
              %li
                = link_to t('.ruby'), 'http://www.ruby-lang.org'
                = t '.ruby_20_ver'
              %li
                = link_to t('.rails'), 'http://rubyonrails.org/'
                4.1
              %li= link_to t('.bundler'), 'http://gembundler.com'
              %li= link_to t('.git'), 'http://git-scm.com'
              %li= link_to t('.sqlite'), 'http://sqlite.org'
              %li= link_to t('.tinyTDS'), 'https://github.com/rails-sqlserver/tiny_tds'
              %li= link_to t('.sql_support'), 'https://github.com/rails-sqlserver/activerecord-sqlserver-adapter'
              %li= link_to t('.devkit'), 'https://github.com/oneclick/rubyinstaller/wiki/Development-Kit'
        .col-md-3
          .packages
            %small= t '.packages_included'
            %ul.unstyled
              %li
                = link_to t('.ruby'), 'http://www.ruby-lang.org'
                = t '.ruby_21_ver'
              %li
                = link_to t('.rails'), 'http://rubyonrails.org/'
                = t '.rails_ver_new'
              %li= link_to t('.bundler'), 'http://gembundler.com'
              %li= link_to t('.git'), 'http://git-scm.com'
              %li= link_to t('.sqlite'), 'http://sqlite.org'
              %li= link_to t('.tinyTDS'), 'https://github.com/rails-sqlserver/tiny_tds'
              %li= link_to t('.sql_support'), 'https://github.com/rails-sqlserver/activerecord-sqlserver-adapter'
              %li= link_to t('.devkit'), 'https://github.com/oneclick/rubyinstaller/wiki/Development-Kit'
        .col-md-6
          .packages
            %small= t '.packages_included'
            %ul.unstyled
              %li
                = link_to t('.ruby'), 'http://www.ruby-lang.org'
                = t '.ruby_19_ver'
              %li
                = link_to t('.rails'), 'http://rubyonrails.org'
                4.1
              %li= link_to t('.bundler'), 'http://gembundler.com'
              %li= link_to t('.git'), 'http://git-scm.com/'
              %li= link_to t('.sqlite'), 'http://sqlite.org/'
              %li= link_to t('.osx_gcc_installer'), 'https://github.com/kennethreitz/osx-gcc-installer'
              %li= link_to t('.jewerlybox'), 'http://unfiniti.com/software/mac/jewelrybox'
              %li= link_to t('.rvm'), 'https://rvm.io/'
              %li= link_to t('.sm_framework'), 'https://smf.sh/'
      .row
        .col-md-12.alert.alert-info
          %strong= t '.osx_note'
          = t '.osx_note_description'
      .row
        .col-md-12.alert.alert-light.alert-shadow
          = t '.old_version_download_preffix'
          = link_to t('.old_version_download'), 'https://s3.amazonaws.com/railsinstaller/Windows/railsinstaller-2.2.5.exe'
          = t '.old_version_download_suffix'
  .row.space
    .col-md-12
      %h2= t '.next'
      %p
        = t '.rails_guides_preffix'
        = link_to t('.rails_guides'), t('.rails_guides_url', default: 'http://guides.rubyonrails.org')
        = t '.rails_guides_suffix'
      %p
        = t '.rails_tutorial_preffix'
        = link_to t('.rails_tutorial'), 'http://railstutorial.org'
        = t '.rails_tutorial_suffix'
      %p
        = t '.google_group_preffix'
        = link_to t('.google_group'), 'http://groups.google.com/group/railsinstaller'
        = t '.google_group_suffix'
        = t '.github_preffix'
        = link_to t('.github'), 'http://github.com/railsinstaller'
        = t '.repositories_preffix'
        = link_to t('.win_repository'), 'http://github.com/railsinstaller/railsinstaller-windows/issues'
        = t '.or'
        = link_to t('.nix_repository'), 'http://github.com/railsinstaller/railsinstaller-nix/issues'
        = t '.repositories_suffix'
        = t '.freenode_preffix'
        = link_to t('.freenode'), 'http://webchat.freenode.net/#railsinstaller'
        = t '.freenode_suffix'
