%section#main{:role => "main"}
  %ul#steps.line
    %li#download.step.unit.size1of3
      %article#step1{:role => "article"}
        %header
          %h1 Step&nbsp;1
          %h2
            %a#downloadlink.button.green{:href => "http://rubyforge.org/frs/download.php/75894/railsinstaller-2.1.0.exe"}
              %span Download
              %span
                %b the
                Kit
        %section#windows.entry-content
          %p
            %b For Windows.
          %p
            %i RailsInstaller
            has everything you need to hit the ground running.
            In one easy-to-use installer, you get all the common packages needed for a full Rails stack.
            %a#downloadlink{:href => "http://rubyforge.org/frs/download.php/75894/railsinstaller-2.1.0.exe"}
              Download it now
            and be writing (and running) Rails code in no time.
          %p
            Packages included are:
          %ul
            %li
              %b
                %a{:href => "http://ruby-lang.org"} Ruby
              1.9.3-p125
            %li
              %b
                %a{:href => "http://rubyonrails.org"} Rails
              3.2
            %li
              %b
                %a{:href => "http://gembundler.com"} Bundler
              1.0.18
            %li
              %b
                %a{:href => "http://git-scm.com"} Git
              1.7.6
            %li
              %b
                %a{:href => "http://sqlite.org"} Sqlite
              3.7.3
            %li
              %b
                %a{:href => "https://github.com/rails-sqlserver/tiny_tds"} TinyTDS
              0.4.5
            %li
              %b
                %a{:href => "https://github.com/rails-sqlserver/activerecord-sqlserver-adapter"} SQL Server support
              3.3.3
            %li
              %b
                %a{:href => "https://github.com/oneclick/rubyinstaller/wiki/Development-Kit"} DevKit
        %section#osx.entry-content
          %p
            %b For OSX.
          %p
            %i RailsInstaller
            has everything you need to hit the ground running.
            In one easy-to-use installer, you get all the common packages needed for a full Rails stack.
            %a#downloadlink{:href => "http://rubyforge.org/frs/download.php/75894/railsinstaller-2.1.0.exe"}
              Download it now
            and be writing (and running) Rails code in no time.
          %p
            Packages included are:
          %ul
            %li
              %b
                %a{:href => "http://www.ruby-lang.org/"} Ruby
              1.9.3-p392
            %li
              %b
                %a{:href => "http://rubyonrails.org/"} Rails
              3.2.12
            %li
              %b
                %a{:href => "http://git-scm.com/"} Git
              1.7.9.6
            %li
              %b
                %a{:href => "http://www.sqlite.org/"} Sqlite
              3.7.5
            %li
              %b
                %a{:href => "https://github.com/kennethreitz/osx-gcc-installer"} osx-gcc-installer
              4.1
            %li
              %b
                %a{:href => "http://unfiniti.com/software/mac/jewelrybox"} JewelryBox
              1.3.0/1.4.1
            %li
              %b
                %a{:href => "https://rvm.io"} RVM
              1.18.10
            %li
              %b
                %a{:href => "https://smf.sh/"} SM
              0.10.4
    %li#video.step.unit.size1of3
      %article#step2{:role => "article"}
        %header
          %h1 Step&nbsp;2
          %h2
            %a.button.white.vimeolink{:href => "/windows"}
              / <span>FOLLOW</span>
              %span Step-by-Step INSTRUCTIONS
        %section.entry-content
          %p
            /
              <a href="http://vimeo.com/34078037" class="video-thumbnail vimeolink">
              <img src="images/video-thumbnail.png" width="100%" alt="Watch the Video" />
              </a>
          %p
            As we work hard to UPDATE the video tutorial please click on the link above to follow along step-by-step setup instructions after downloading the KIT. This easy to follow documentation will go through the entire installation process and will help ensure that Ruby, Rails, Git, etc are all installed properly. Enjoy!
            / <a href="http://vimeo.com/34078037" class="vimeolink">Vimeo</a>.
            / <p class="notice">Postgres is now the default database on Engine Yard. Please use the '<b>pg</b>' gem instead of
            / '<b>mysql2</b>' in your <b>Gemfile</b>.</p>
          / <p><a href="/instruction">Step-by-step instruction guide</a></p>
    %li#next.step.unit.size1of3.lastUnit
      %article#step3{:role => "article"}
        %header
          %h1 Step&nbsp;3
          %h2
            %a.button.yellow.anchorLink{:href => "#whats-next"}
              %span What&rsquo;s
              %span Next?
        %section.entry-content
          %p
            %strong Have troubles installing?
            %br/
            = succeed "." do
              %a{:href => "http://groups.google.com/group/railsinstaller", :title => "RailsInstaller |\n              Google Groups"} Check the RailsInstaller Google Group
          %p
            You've got everything installed. You've written (and ran) some code. If you find yourself asking
            = succeed "," do
              %q where do I go from here
            don't worry. You're not alone.
          %p
            The answer is
            = succeed "," do
              %q just about anywhere
            but here's a handful of good places to start.
            The official
            = succeed "," do
              %a{:href => "http://rubyonrails.org", :title => "Ruby on Rails"} Ruby on Rails site
            = succeed "," do
              %a{:href => "http://weblog.rubyonrails.org", :title => "Riding Rails"} blog
            = succeed "," do
              %a{:href => "http://twitter.com/rails", :title => "@rails on Twitter"} Twitter account (@rails)
            and
            = succeed "." do
              %a{:href => "http://groups.google.com/group/rubyonrails-talk", :title => "Ruby on Rails: Talk | Google Groups"} mailing list
            If you're into
            = succeed "," do
              %abbr{:title => "Internet Relay Chat"} IRC
            swing by
            %a{:href => "irc://irc.freenode.net#rubyonrails"} #rubyonrails
            on freenode.net.
            There's always the ever-growing
            = succeed "." do
              %a{:href => "http://guides.rubyonrails.org", :title => "Ruby on Rails Guides"} Ruby on Rails guides
            If you learn by watching, there are more
            %a{:href => "http://rubyonrails.org/screencasts", :title => "Ruby on Rails: Screencasts"} screencasts
            than you can shake a stick at. Some are free, some cost money.
            Envy Labs produces the
            %a{:href => "http://ruby5.envylabs.com", :title => "Ruby5 by EnvyLabs"} Ruby 5 News Show.
            %a{:href => "http://5by5.tv", :title => "5by5 Studios"} 5by5
            produces podcasts like
            %a{:href => "http://5by5.tv/devshow", :title => "The Dev Show - 5by5"} The Dev Show
            and
            = succeed "." do
              %a{:href => "http://5by5.tv/rubyshow", :title => "The Ruby Show - 5by5"} The Ruby Show
