%div.row-fluid.space
  %div.hero-unit.logo
    %p
      = image_tag 'ri-logo.png', alt: 'RailsInstaller Logo'
    %h1.tagline
      = t('.get_to_work')
%div.row-fluid.space
  %div.span6
    %h2
      = t('.what')
    %p
      = t('.what_description')
  %div.span6
    %h2
      = t('.who')
    %p
      = t('.who_description')
%div.row-fluid.space
  %div.span8.offset2.video_container
    %iframe.img-polaroid{ src: 'http://www.youtube.com/embed/InKZOPylUSQ', frameborder: '0', allowfullscreen: true }
%div.row-fluid
  %div.span12
    /
      %div.row-fluid
        %div.span12.alert.alert-error
          Issues with RubyForge? Hit up this link instead:
          = link_to 'RailsInstaller Windows 2.2.1', 'https://github.com/railsinstaller/railsinstaller-windows/releases/v2.2.1/2925/railsinstaller-2.2.1.exe'
    %div.row-fluid
      %div.span6
        %h2
          = t('.win_downloads')
      %div.span6
        %h2
          = t('.mac_downloads')
    %div.row-fluid
      %div.span3
        %p.downloadlink
          %a.btn.btn-success.btn-block{ href: 'https://github.com/railsinstaller/railsinstaller-windows/releases/download/2.2.2/railsinstaller-2.2.2.exe' }
            %span.font-icon.down-btn-icon{ style: 'font-size:1.5em;' }
              download
            = t('.win')
            %br/
            %font{ size: '3px'}
              = t('.ruby_19')
      %div.span3
        %p.downloadlink
          %a.btn.btn-success.btn-block{ href: 'http://rubyforge.org/frs/download.php/75114/railsinstaller-1.3.0.exe' }
            %span.font-icon.down-btn-icon{ style: 'font-size:1.5em;' }
              download
            = t('.win')
            %br/
            %font{ size: '3px'}
              = t('.ruby_18')
      %div.span3
        %p.downloadlink
          %a.btn.btn-success.btn-block{ href: 'http://railsinstaller.s3.amazonaws.com/RailsInstaller-1.0.4-osx-10.7.app.tgz' }
            %span.font-icon.down-btn-icon{ style: 'font-size:1.5em;' }
              download
            = t('.mac')
            %br/
            %font{ size: '3px'}
              = t('.mac_ver_new')
      %div.span3
        %p.downloadlink
          %a.btn.btn-success.btn-block{ href: 'http://railsinstaller.s3.amazonaws.com/RailsInstaller-1.0.4-osx-10.6.app.tgz' }
            %span.font-icon.down-btn-icon{ style: 'font-size:1.5em;' }
              download
            = t('.mac')
            %br/
            %font{ size: '3px'}
              = t('.mac_ver_old')
      %div.row-fluid
        %div.span3
          %div.packages
            %small
              = t('.packages_included')
            %ul.unstyled
              %li
                = link_to t('.ruby'), 'http://www.ruby-lang.org/'
                = t('.ruby_ver_new')
              %li
                = link_to t('.rails'), 'http://rubyonrails.org/'
                = t('.rails_ver_new')
              %li
                = link_to t('.bundler'), 'http://gembundler.com/'
              %li
                = link_to t('.git'), 'http://git-scm.com/'
              %li
                = link_to t('.sqlite'), 'http://sqlite.org/'
              %li
                = link_to t('.tinyTDS'), 'https://github.com/rails-sqlserver/tiny_tds'
              %li
                = link_to t('.sql_support'), 'https://github.com/rails-sqlserver/activerecord-sqlserver-adapter'
              %li
                = link_to t('.devkit'), 'https://github.com/oneclick/rubyinstaller/wiki/Development-Kit'
        %div.span3
          %div.packages
            %small
              = t('.packages_included')
            %ul.unstyled
              %li
                = link_to t('.ruby'), 'http://www.ruby-lang.org/'
                = t('.ruby_ver_old')
              %li
                = link_to t('.rails'), 'http://rubyonrails.org/'
                = t('.rails_ver_old')
              %li
                = link_to t('.bundler'), 'http://gembundler.com/'
              %li
                = link_to t('.git'), 'http://git-scm.com/'
              %li
                = link_to t('.sqlite'), 'http://sqlite.org/'
              %li
                = link_to t('.tinyTDS'), 'https://github.com/rails-sqlserver/tiny_tds'
              %li
                = link_to t('.sql_support'), 'https://github.com/rails-sqlserver/activerecord-sqlserver-adapter'
              %li
                = link_to t('.devkit'), 'https://github.com/oneclick/rubyinstaller/wiki/Development-Kit'
        %div.span6
          %div.packages
            %small
              = t('.packages_included')
            %ul.unstyled
              %li
                = link_to t('.ruby'), 'http://www.ruby-lang.org/'
                = t('.ruby_ver_new')
              %li
                = link_to t('.rails'), 'http://rubyonrails.org/'
                = t('.rails_ver_new')
              %li
                = link_to t('.bundler'), 'http://gembundler.com/'
              %li
                = link_to t('.git'), 'http://git-scm.com/'
              %li
                = link_to t('.sqlite'), 'http://sqlite.org/'
              %li
                = link_to t('.osx_gcc_installer'), 'https://github.com/kennethreitz/osx-gcc-installer'
              %li
                = link_to t('.jewerlybox'), 'http://unfiniti.com/software/mac/jewelrybox'
              %li
                = link_to t('.rvm'), 'https://rvm.io/'
              %li
                = link_to t('.sm_framework'), 'https://smf.sh/'
      %div.row-fluid
        %div.span12.alert.alert-info
          %strong
            = t('.osx_note')
          = t('.osx_note_description')
      %div.row-fluid
        %div.span12.alert.alert-light.alert-shadow
          = t('.last_version_download_preffix')
          = link_to t('.last_version_download'), 'https://github.com/railsinstaller/railsinstaller-windows/releases/download/3.0.0-alpha.2/railsinstaller-3.0.0.exe', style: 'color: rgb(75, 179, 209);'
          = t('.last_version_download_suffix')
%div.row-fluid.space
  %div.span12
    %h2
      = t('.next')
    %p
      = t('.rails_guides_preffix')
      = link_to t('.rails_guides'), 'http://guides.rubyonrails.org'
      = t('.rails_guides_suffix')
    %p
      = t('.rails_tutorial_preffix')
      = link_to t('.rails_tutorial'), 'http://ruby.railstutorial.org'
      = t('.rails_tutorial_suffix')
    %p
      = t('.google_group_preffix')
      = link_to t('.google_group'), 'http://groups.google.com/group/railsinstaller'
      = t('.google_group_suffix')
      = t('.github_preffix')
      = link_to t('.github'), 'http://github.com/railsinstaller'
      = t('.repositories_preffix')
      = link_to t('.win_repository'), 'http://github.com/railsinstaller/railsinstaller-windows/issues'
      = t('.or')
      = link_to t('.nix_repository'), 'http://github.com/railsinstaller/railsinstaller-nix/issues'
      = t('.repositories_suffix')
      = t('.freenode_preffix')
      = link_to t('.freenode'), 'http://webchat.freenode.net/#railsinstaller'
      = t('.freenode_suffix')
