%div{style: 'padding:35px 100px 0px 100px;'}
  %li#next.step.unit.size1of3.lastUnit
    %article#step3{role: 'article'}
      %header
        %h1
          = t('.instructions')
          %a{href: '/windows', style: 'color: #0000FF;'}
            = t('.click_for_windows')
        %br/
      %section.entry-content
        %p
          %strong
            = t('.instructions_1')
          %br/
        %ol
          %li
            = t('.instructions_2')
          %br/
          %li
            = t('.instructions_3')
            %tt /Applications/Utilities
          %br/
          %p
            = t('.instructions_4')
          %pre{style: 'border:dashed black 1px; font-style:italic;'} $ git --version
          %br/
          %p
            = t('.instructions_5')
          %pre{style: 'border:dashed black 1px; font-style:italic;'} $ rvm info
          %br/
          %p
            = t('.instructions_6')
          %pre{style: 'border:dashed black 1px; font-style:italic;'} $ ruby -v
          %br/
          %p
            = t('.instructions_7')
          %pre{style: 'border:dashed black 1px; font-style:italic;'} $ rails -v
          %br/
          %p
            = t('.instructions_8')
          %li
            = t('.instructions_9')
          %br/
          %pre{style: 'border:dashed black 1px; font-style:italic;'} $ cd Desktop/
          %br/
          %pre{style: 'border:dashed black 1px; font-style:italic;'} $ rails new railsinstaller_osx_demo
          %br/
          %li
            = t('.instructions_10')
          %br/
          %pre{style: 'border:dashed black 1px; font-style:italic;'} $ cd railsinstaller_osx_demo/
          %br/
          %pre{style: 'border:dashed black 1px; font-style:italic;'} $ rails server
          %br/
          %p
            = t('.instructions_11')
            %a{href: 'http://localhost:3000', style: 'color: #0000FF;'} http://localhost:3000
            = t('.instructions_12')
          %li
            = t('.instructions_13')
          %br/
          %p
            = t('.instructions_14')
            %a{href: 'http://www.sublimetext.com', style: 'color: #0000FF;'}
              = t('.instructions_15')
          %p
            = t('.instructions_16')
          %ul
            %li
              = t(17)
          %br/
          %pre{style: 'border:dashed black 1px; font-style:italic;'} $ ln -s "/Applications/Sublime Text 2.app/Contents/SharedSupport/bin/subl" ~/bin/subl
          %br/
          %li
            = t('.instructions_18')
          %br/
          %pre{style: 'border:dashed black 1px; font-style:italic;'} $ cd railsinstaller_osx_demo
          %br/
          %pre{style: 'border:dashed black 1px; font-style:italic;'} $ subl .
          %br/
          %li
            = t('.instructions_19')
            %tt /config/routes.rb
            = t('.instructions_20')
          %br/
          %pre{style: 'border:dashed black 1px; font-style:italic;'} root :to => 'welcome#index'
          %br/
          %li
            = t('.instructions_21')
          %br/
          %pre{style: 'border:dashed black 1px; font-style:italic;'} $ rails g controller welcome index
          %br/
          %li
            = t('.instructions_22')
            = succeed ',' do
              %tt app/views/welcome/index.html.erb
            = t('.instructions_23')
          %br/
          %pre{style: 'border:dashed black 1px; font-style:italic;'} &lt;h1&gt;Welcome to the Rails Installer Demo!!!&lt;/h1&gt;
          %br/
          %p
            = t('.instructions_24')
          %p
            = t('.instructions_25')
            %a{href: 'http://localhost:3000', style: 'color: #0000FF;'} http://localhost:3000
            = t('.instructions_26')
            %tt /public/index.html
            = t('.instructions_27')
          %li
            = t('.instructions_28')
            = succeed ',' do
              %a{href: 'https://github.com/', style: 'color: #0000FF;'} https://github.com/username
            = t('.instructions_29')
          %br/
          %li
            = t('.instructions_30')
            %tt Account Settings
            = t('.instructions_31')
            %tt SSH Keys
            = t('.instructions_32')
            = succeed '.' do
              %tt Add SSH Key
            = t('.instructions_33')
          %br/
          %pre{style: 'border:dashed black 1px; font-style:italic;'} $ ssh-keygen -t rsa -C "youremail@blank.com"
          %br/
          %p
            = t('.instructions_34')
          %pre{style: 'border:dashed black 1px; font-style:italic;'} $ pbcopy < ~/.ssh/id_rsa.pub
          %br/
          %p
            = t('.instructions_35')
          %li
            = t('.instructions_36')
          %br/
          %li
            = t('.instructions_37')
          %br/
          %strong
            = t('.instructions_38')
          %br/
          %br/
          %ul
            %li
              %pre{style: 'border:dashed black 1px; font-style:italic;'} $ git init <br/>$ git add . <br/>$ git commit -m "first commit" <br/>$ git remote add origin git@github.com:accountname/railsinstaller_osx_demo.git <br/>$ git push origin master
            %br/
          %p
            = t('.instructions_39')
          %br/
          %h1{style: 'font-size: 48px; text-align:right;'}
            = t('.instructions_40')
