%div{style: 'padding:35px 100px 0px 100px;'}
  %li#next.step.unit.size1of3.lastUnit
    %article#step3{role: 'article'}
      %header
        %h1
          = t('.intructions')
          %a{href: '/mac', style: 'color: #0000FF;'}
            = t('.click_for_mac')
        %br/
      %section.entry-content
        %p
          %strong
            = t('.intructions_1')
          %br/
        %ol
          %li
            = t('.intructions_2')
          %br/
          %li
            = t('.intructions_3')
          %br/
          %p
            = t('.intructions_4')
          %li
            = t('.intructions_5')
          %br/
          %pre{style: 'border:dashed black 1px; font-style:italic;'} $ rails new railsinstaller_demo
          %br/
          %li
            = t('.intructions_6')
          %br/
          %pre{style: 'border:dashed black 1px; font-style:italic;'} $ cd railsinstaller_demo
          %br/
          %pre{style: 'border:dashed black 1px; font-style:italic;'} $ rails s
          %br/
          %p
            = t('.intructions_7')
            %a{href: 'http://localhost:3000', style: 'color: #0000FF;'} http://localhost:3000
            = t('.intructions_8')
          %li
            = t('.intructions_9')
          %br/
          %p
            = t('.intructions_10')
            %a{href: 'http://www.sublimetext.com', style: 'color: #0000FF;'} Sublime Text
          %p
            = t('.intructions_11')
          %ul
            %li
              = t('.intructions_12')
              %br/
              %br/
              %tt C:\Program Files\Sublime_Text_2.exe
          %br/
          %li
            = t('.intructions_13')
          %br/
          %li
            = t('.intructions_14')
          %br/
          %li
            = t('.intructions_15')
          %br/
          %li
            = t('.intructions_16')
          %br/
          %ul
          %pre{style: 'border:dashed black 1px; font-style:italic;'} $ cd railsinstaller_demo
          %br/
          %pre{style: 'border:dashed black 1px; font-style:italic;'} $ subl .
          %br/
          %li
            = t('.intructions_17')
            %tt /config/routes.rb
            = t('.intructions_18')
          %br/
          %pre{style: 'border:dashed black 1px; font-style:italic;'} root :to => 'welcome#index'
          %br/
          %li
            = t('.intructions_19')
          %br/
          %pre{style: 'border:dashed black 1px; font-style:italic;'} $ rails g controller welcome index
          %br/
          %li
            = t('.intructions_20')
            = succeed ',' do
              %tt app/views/welcome/index.html.erb
            = t('.intructions_21')
          %br/
          %pre{style: 'border:dashed black 1px; font-style:italic;'} &lt;h1&gt;Welcome to the Rails Installer Demo!!!&lt;/h1&gt;
          %br/
          %p = t('.intructions_22')
          %p
            = t('.intructions_23')
            %a{href: 'http://localhost:3000', style: 'color: #0000FF;'} http://localhost:3000
            = t('.intructions_24')
            %tt /public/index.html
            = t('.intructions_25')
          %li
            = t('.intructions_26')
            = succeed ',' do
              %a{href: 'https://github.com/', style: 'color: #0000FF;'} https://github.com/username
            = t('.intructions_27')
          %br/
          %strong
            = t('.intructions_28')
          %br/
          %br/
          %ul
            %li
              %pre{style: 'border:dashed black 1px; font-style:italic;'} $ git init<br/>$ git add .<br/>$ git commit -m "first commit"<br/>$ git remote add origin git@github.com:accountname/railsinstaller_demo.git<br/>$ publickey
            %br/
          %p = t('.intructions_29')
          %li
            %pre{style: 'border:dashed black 1px; font-style:italic;'} $ git push origin master
            %br/
          %h1{style: 'font-size: 48px; text-align:right;'} = t('.intructions_30')
