.span3
  %p.downloadlink
    %a.btn.btn-success.btn-block( href="#{down_link}")
      %span.font-icon.down-btn-icon{ style: 'font-size:1.5em;' } download
      = t ".#{platform}"
      %br/
      %font{ size: '3px' }= t ".#{down_version}"
