!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }/
    %meta{ content: 'IE=edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }/
    %meta{ content: t('.description'), name: 'description' }/
    %meta{ content: 'Evan Machnic : http://broadmac.net', name: 'author' }/
    %link{ href: '/favicon.ico', rel: 'shortcut icon' }/
    = stylesheet_link_tag 'application'
    = phrase_javascript
  %body
    #global-header
      .inner
        %h1
          %a{href: 'http://engineyard.com'}
            = t('.project_by')
            %span.logo
              = t('.engine_yard')
          %span.contributors
            = render 'shared/contributors'
        %ul
          %li
            %a.share-email{href: "mailto:[.INSERT.EMAIL.]?subject=#{t('.share_email_subject')}&amp;body=#{t('.share_email_body')}", title: t('.share_email_title')} Email
          %li.share-twitter
            %a.twitter-share-button{'data-count' => 'none', 'data-via' => 'railsinstaller', href: 'http://twitter.com/share'} Tweet
            %script{src: 'http://platform.twitter.com/widgets.js', type: 'text/javascript'}
          %li.share-fb
            %iframe(allowtransparency="true" frameborder="0" scrolling="no" src="http://facebook.com/plugins/like.php?href=http%3A%2F%2Frailsinstaller.org&layout=button_count&show_faces=false&width=100&action=like&font=lucida+grande&colorscheme=light&height=21" style="border:none; overflow:hidden; width:85px; height:21px;")
    %div#main.container-fluid
      = yield

